*{
    padding: 0%;
    margin: 0;
  }
  body {
    background-color: #dbdbdb;
    background-image: url("../sources/images/La W.png");
    background-repeat: no-repeat;
    background-position: center 300px;
    background-size: 50%;
  }
  
  .wrap{
    background-color: #dbdbdbb8;
  }
  .atras{
    width: 100%;
    display: flex;
    justify-content: right;
    z-index: auto;
    margin-top: -30px;
  }
header{
    width: 100%;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: #48AE4D;
}

.logo{
    height: 100px;
}
.img1{
    height: 80%;
}

nav{
	max-width: 900px;
	margin: auto;
	background-color: #4958A3;
	font-size: 20px;
	margin-top: 50px;
}
.menu-horizontal{
  align-items: center;
    margin-top: -5.7%;
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu-horizontal > li > a{
	display: block;
	padding: 6px 20px;
	color: white;
	text-decoration: none;
}
.menu-horizontal > li:hover{
	background-color: #48AE4D;
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: #1f344686;
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: #48AE4D;
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}
h1{
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 300%;
}
hr{
    width: 75%;
    display: flex;
    justify-content: center;
    background-color: #1f3446;
    height: 10px;
    border-radius: 10px;
}
p{
    text-align: center;
    font-size: 200%;
    width: 70%;

}
.texto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
   color: #4A85C5;
}
p{
    font-size: 120%;
}
#usuario{
    z-index: 0;
    position: absolute;
    margin-top: -4%;
}
.bebas{
    font-family: "Bebas Neue", sans-serif;
}
#fondo{ 
    top: 50%;
    left: 25%;
    z-index: -1;
     height: 100vh;
     position: absolute;
     background-attachment: fixed;
   }
   .imgfondo{
     width: 100vh;
     opacity: 50%;
   }
   .user{
    width: 40px;
  }
  .coso{
    padding-top: -100px;
  }