*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #48AE4D;
    height: auto;
}
.atras{
    width: 100%;
    display: flex;
    justify-content: right;
    z-index: auto;
    margin-top: -30px;
}
.logo{
    height: 100px;
}
nav{
	max-width: 900px;
	margin: auto;
	background-color: #4958A3;
	font-size: 20px;
	margin-top: 50px;
}
.menu-horizontal{
    align-items: center;
    margin-top: -5.7%;
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu-horizontal > li > a{
	display: block;
	padding: 6px 20px;
	color: white;
	text-decoration: none;
}
.menu-horizontal > li:hover{
	background-color: #48AE4D;
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: #1f344686;
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: #48AE4D;
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}
body{
    background-color: #dbdbdb;
}
h1{
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 300%;
    margin-top: 4%;
}
hr{
    display: flex;
    justify-content: center;
    width: 75%;
    height: 10px;
    background-color: #1F3446;
    border-radius: 10px;
}
#fondo{ 
    top: 50%;
    left: 25%;
    z-index: -1;
     height: 100vh;
     position: absolute;
     background-attachment: fixed;
   }
.imgfondo{
     width: 100vh;
     opacity: 50%;
   }
   .bebas{
    font-family: "Bebas Neue", sans-serif;
}
.panel{
    background-color: #ffff;
    border: solid 4px #48AE4D;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 5%;
    text-align: center;
    align-items: center;
}
.imagennn{
    width: 100%;
}
.imagenn{
    width: 256px;
    height: 256px;
}
.centro{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.desc{
    width: 80%;
    margin-bottom: 30px;
}
.info{
    display: flex;
}
.bar{
    overflow: hidden;
    height: 30px;
    width: 500px;
    border: 5px solid black;
    border-radius: 30px;
    background-color: rgb(233, 233, 233);
    margin-top: 30px;

}
.progress{
    width: 0%;
    height: 100%;
    transition-duration: .5s;
    background-color: green;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.btnVideo{
    cursor: pointer;
}
.user{
    width: 40px;
  }
  .coso{
    padding-top: -100px;
  }